.jumbotron {
	background-color:Black
}

.jumbotron h1 {
	color:yellow;
}

p, h1, h4, h6 {
	font-family: 'Roboto Slab', serif;
}

#boldText {
	color: black;
	font-size: 28px;
	font-family: 'Roboto Slab', Arial;
	font-weight: 700;
	
}

.supBoldText {
	color: black;
	font-size: 36px;
	font-family: 'Roboto Slab', Arial;
	font-weight: 900;
	
}

#funText {
	color: black;
	font-size: 24px;
	font-family: 'Roboto Slab', Arial;
	font-weight: bold;
	
}

img {
   padding:1px;
   border:3px solid blue;
}